#playlists
  width 100%
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between

.playlist
  flex-basis 16rem

  img
    width 100%

  h2
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
