@require '../global'

.home.auth
  margin-bottom 3rem

  h1
    font-weight 300
    font-size 3rem
    margin-bottom 3rem

  #playlists
    width body-width
    display grid
    grid-template-columns repeat(auto-fit, minmax(10rem, 1fr))
    grid-auto-rows 1fr
    grid-gap 3rem

  .playlist
    img
      max-width 100%
      border-radius 4px

    .playlist-detail
      overflow hidden

      h2
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        margin 1rem 0 0.5rem

      p
        margin 0

@require '../media/views/Home'
