@import "../global.scss";

#playlist {
  display: grid;
  grid-template-columns: [meta] 16rem [tracks] 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 4rem;

  .meta {
    grid-column: meta;
    width: 16rem;
    position: fixed;

    .v-image {
      border-radius: 4px;
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: 1.75rem;
      line-height: 1.75rem;
      margin-bottom: 1.5rem;

      &.selection-mode {
        color: #E5A3A0;
      }
    }
  }

  .tracks {
    grid-column: tracks;
  }

  @media screen and (max-width: 960px) {
    grid-template-columns: 1fr;
    grid-template-rows: [meta] 6rem [tracks] 1fr;
    grid-row-gap: 2rem;

    .meta, .tracks {
      grid-column: unset;
    }

    .meta {
      grid-row: meta;
      width: $body-width;
      position: relative;
      text-align: center;
    }

    .tracks {
      grid-row: tracks;

      p.loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
      }
    }
  }
}
