#playlist {
  display: grid;
  grid-template-columns: [meta] 16rem [tracks] 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 4rem;

  .meta {
    grid-column: meta;
    width: 16rem;
    position: fixed;

    .v-image {
      border-radius: 4px;
      margin-bottom: 1rem;
    }
  }

  .tracks {
    grid-column: tracks;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows:  [tracks] 1fr [meta] 2.5rem;
    grid-row-gap: 2rem;

    .meta {
      grid-column: unset;
      grid-row: meta;
      position: fixed;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(36, 29, 57, 100) 70%, rgba(36, 29, 57, 0) 100%) no-repeat;
      margin-bottom: 0;
      padding: 2rem 0 1rem;
      z-index: 10;
      width: 100%;

      &.mobile-empty {
        background: none;
      }

      .v-image {
        display: none;
      }
    }

    .tracks {
      grid-column: unset;
      grid-row: tracks;
    }
  }
}
