#playlist {
  display: grid;
  grid-template-columns: [meta] 16rem [tracks] 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 4rem;

  .meta {
    grid-column: meta;
    width: 16rem;
    position: fixed;

    .v-image {
      border-radius: 4px;
      margin-bottom: 1rem;
    }
  }

  .tracks {
    grid-column: tracks;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
    grid-row-gap: 2rem;

    .meta {
      display: none;
    }

    .meta, .tracks {
      grid-column: unset;
    }
  }
}
