@import '../global';

#playlists {
  width: $body-width;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 3rem;

  .playlist-link {
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    width: $body-width-small;
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fit, calc(#{$body-width-small} / 2 - 2rem));
    grid-gap: 2rem;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: $body-width-small;
  }
}
