#navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  padding: 1.3rem 1.5rem 2rem;
  background: linear-gradient(180deg, rgba(18, 23, 56, 100) 70%, rgba(18, 23, 56, 0) 100%) no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .view, .actions {
    display: flex;
    align-items: center;
  }

  .view {
    justify-content: space-between;

    .actions.left {
      margin-right: 1rem;

      button {
        margin: 0;
      }
    }

    img {
      height: 1.2rem;
    }
  }

  .actions.right {
    justify-content: flex-end;

    .action-bar {
      display: flex;
      justify-content: flex-end;
    }

    img {
      height: 2rem;
      width: 2rem;
      margin-left: 1rem;
      border-radius: 1.25rem;
      border: 2px solid #f5f5f5;
      cursor: pointer;
    }
  }
}
