.playlist {
  transition: all 200ms ease;
  will-change: transform;
  cursor: pointer;
  text-decoration: none;

  &:active, &[selection], &[disabled] {
    filter: brightness(0.8);
  }

  &:active {
    transform: scale(0.98) translateZ(0);
    transition: all 50ms ease;
  }

  &[selected] {
    filter: none !important;

    .v-image {
      border: 2px solid #E5A3A0;
    }
  }

  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
  }

  .playlist-art {
    width: 100%;

    .v-image {
      border-radius: 4px;
    }

    img {
      width: 100%;
    }
  }

  .playlist-detail {
    overflow: hidden;

    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 1rem 0 0;
    }

    p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .playlist {
    display: grid;
    align-items: center;
    grid-template-columns: 4rem 1fr;
    grid-auto-rows: 4rem;
    grid-column-gap: 1.5rem;

    .playlist-detail {
      h2 {
        font-size: 1.125rem;
        margin: 0;
      }
      p {
        font-size: 0.875rem;
      }
    }
  }
}
