.track {
  display: grid;
  grid-template-columns: [col-control] 2.5rem [col-meta] 1fr;
  grid-template-rows: [row-name] 1.5rem [row-info] 1.5rem;
  grid-column-gap: 0.5rem;
  align-items: center;

  &.selected p {
    color: #E5A3A0 !important;
  }

  .track-control {
    grid-column: col-control;
    grid-row: row-name / span 2;
    display: flex;

    & > div {
      margin: 0;
      padding: 0;
    }
  }

  .track-name, .track-info {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .track-name {
    grid-column: col-meta;
    grid-row: row-name;
    font-weight: 700;
    color: #f5f5f5;
  }

  .track-info {
    grid-column: col-meta;
    grid-row: row-info;
    color: #B0B0B0;
  }

  @media screen and (min-width: 1264px) {
    grid-template-columns: [col-control] 2.5rem [col-name] 1fr [col-artist] 1fr [col-album] 1fr;
    grid-template-rows: 1fr;

    .track-control, .track-name, .track-info {
      grid-row: unset;
    }
    .track-info {
      grid-column: unset;
    }
    .track-name {
      grid-column: col-name;
    }
    .artist {
      grid-column: col-artist;
    }
    .album {
      grid-column: col-album;
    }
  }
}
