#app
  width 100%

#navbar
  display flex
  flex-direction row
  align-items center
  justify-content flex-end

  img
    height 2rem
    width 2rem
    margin-left 1rem
    border-radius 1.25rem
    border 2px solid #f5f5f5
    cursor pointer
