@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overscroll-behavior-y: contain;
  background: linear-gradient(180deg, #121738 0%, #241D39 100%) no-repeat fixed;
  background-size: cover;
}

#app {
  background: none !important;
  min-height: 100vh;

  .dead-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
}

h1, h2, h3, p, td, span, input, select, option, li {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  user-select: none;
}

.material-icons {
  font-family: 'Material Icons Outlined', fantasy;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
  outline: none;
}

// vue-virtual-scroller
.vue-recycle-scroller__item-wrapper {
  overflow: visible !important;
}

// Dialogs
.v-list.theme--dark, .v-card.theme--dark {
  background: linear-gradient(150deg, #5B2E59 15%, #A44966 90%) no-repeat;
  border-color: unset;
}
.v-list-item__title {
  font-weight: 700 !important;
}

// Buttons
.v-btn--rounded {
  background: linear-gradient(150deg, #A44966 15%, #DF7462 90%);
  border-color: unset;
}
.v-btn.v-size--small {
  letter-spacing: 0;
}
span.v-btn__content {
  font-weight: 700;

  .v-icon { display: inline-flex !important; }
}
