html
  background linear-gradient(180deg, #121738 0%, #241D39 100%) no-repeat
  min-height 100vh

body
  margin 3rem auto 0
  width calc(100vw - 6rem)
  overscroll-behavior-y contain

// Fonts
h1, h2, h3, p, td, span, input, select, option, li
  font-family 'Rubik', -apple-system, BlinkMacSystemFont,
          'Helvetica Neue', 'Helvetica',
          'Segoe UI', 'Roboto', sans-serif
  -webkit-font-smoothing antialiased !important
  -moz-osx-font-smoothing grayscale
  text-rendering optimizeLegibility !important
  text-shadow 1px 1px 1px rgba(0, 0, 0, 0.004)
  color #f5f5f5

// Button styles
.button
  // Reduce touch latency on clickable elements (IE 10+)
  -ms-touch-action manipulation
  touch-action manipulation

  // Disable highlight on tap (Chrome Android)
  -webkit-tap-highlight-color rgba(255, 255, 255, 0)
  user-select none
