$body-width: calc(100vw - 6rem);
$body-width-small: calc(100vw - 4rem);

html {
  background: linear-gradient(180deg, #121738 0%, #241D39 100%) no-repeat;
  min-height: 100vh;
}

body {
  margin: 0;
  overscroll-behavior-y: contain;
}

h1, h2, h3, p, td, span, input, select, option, li {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont,
               'Helvetica Neue', 'Helvetica', 'Segoe UI',
               'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  color: #f5f5f5;
}

.material-icons {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
}
