@require '../../global'

@media screen and (max-width: 600px)
  .home.auth #playlists .playlist-detail
    h2
      font-size 1.125rem

    p
      font-size 0.875rem

@media screen and (max-width: 480px)
  .home.auth
    margin-bottom 2rem

    #playlists
      width body-width-small
      grid-template-columns body-width-small
      grid-gap 2rem

      .playlist
        display grid
        align-items center
        grid-template-columns 4rem 1fr
        grid-auto-rows 4rem
        grid-column-gap 1.5rem

        .playlist-detail
          h2
            margin 0 0 0.5rem
